{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assets Bidding</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none"
                        href="mailto:info@company.com">assetsbidding@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <p>
                <div>
                    
                        
                    <a class="navbar-sm-brand text-light text-decoration-none" href="admin.html">Admin</a>
                    /
                    <a class="navbar-sm-brand text-light text-decoration-none" href="user.html">User</a>
                
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home_main' %}">
                Assets Bidding
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-home' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-assets' %}"> Add Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-view-assets' %}">View Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view-bids' %}">View Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'purchased-assets' %}">Purchased Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view-users' %}">View Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_logout' %}">Logout</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <body>

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Vehicles
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">2 Wheeler</a></li>
                            <li><a class="text-decoration-none" href="#">4 Wheeler</a></li>
                        </ul>
                    </li>
                
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Properties
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Houses</a></li>
                            <li><a class="text-decoration-none" href="#">Lands</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Vehicles</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">Properities</a>
                            </li>
                        </ul>
                    </div>
                   
                    <div class="col-md-6 pb-4">
                        <form method="post" class="modal-content modal-body border-0 p-0">
                            {% csrf_token %}
                            <div class="d-flex">
                                <input  type="search" name="search" class="form-control"
                                    placeholder="Search" />
    
                                <button type="submit" class="btn btn-success "><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>


                
                <div>
                    {% for bids in asset %}
                    <div class="card mb-4">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="media/{{ bids.asset.asset_image }} " class="img-fluid rounded-start" alt="Something Wrong with Image" style="width: 320px; max-width: 670px; height:150px; min-height: 255px;"  >
                          </div>
                          <div class="col-md-8" >
                            <div class="card-body">
                                <div style="display: flex;">
                              <h4 style="font-family:Garamond,serif;"><b>Asset Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <h4 class="card-title" style="font-family:Garamond,serif;">{{ bids.asset.asset_name }}</h4></div>
                              <div style="display: flex;">
                              <h4 style="font-family:Garamond,serif;"><b>Asset Category  :</b></h4>&nbsp;&nbsp;
                              <h4 class="card-title" style="font-family:Garamond,serif;">&nbsp;&nbsp;&nbsp;{{ bids.asset.asset_category }}</h4></div>
                              <div style="display: flex;">
                              <h4 style="font-family:Garamond,serif;"><b>Asset Bank  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b></h4>&nbsp;&nbsp;
                              <h4 class="card-title" style="font-family:Garamond,serif;">&nbsp;&nbsp;&nbsp;{{ bids.asset.asset_bank }}</h4></div>
                              <div style="display: flex;">
                                <h4 style="font-family:Garamond,serif;"><b>Asset Price  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b></h4>&nbsp;&nbsp;
                                <h4 class="card-title" style="font-family:Garamond,serif;">&nbsp;&nbsp;&nbsp;{{ bids.asset.asset_price }}</h4></div>
                              <br>
                              <div class="row" >
                                <div class="col-12">
                                <div style="display:flex;justify-content:space-between"><p class="card-text"><small class="text-muted"> <b class="text-dark">Last Updated : {{ bids.asset.posted_date }}</b></small></p>
                                    <img class=" fas align-right "  src="{%static 'img/sold.png'%}" width="80px;" height="50px;"  />
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="row">
                                  <div class="col-6">
                              <div style="display:flex;justify-content:space-between"><p class="card-text"><small class="text-muted"> <b class="text-dark">Last Updated : {{ bids.asset.posted_date }}</b></small></p>
                              <a href="#" class="btn btn-success fas align-right mb-2">Sold</a></div>
                            </div>
                            </div>
                            <div class="col-6">
                             
                            </div>
                                  </div> -->
                        </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    
               

                <div class="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
                </div>
                </div>
            </div>

         
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- End Content -->

    
    <!-- Start Footer -->
<center>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright 2022 Assets Bidding.
                        | Designed and Developed by <a rel="sponsored" href="https://codebook.in/"
                            target="_blank">Codebook.in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</center>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>