{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assets Bidding</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none"
                        href="mailto:info@company.com">assetsbidding@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <p>
                <div>


                    <a class="navbar-sm-brand text-light text-decoration-none" href="{% url 'admin_main' %}">Admin</a>
                    /
                    <a class="navbar-sm-brand text-light text-decoration-none" href="{% url 'user_main' %}">User</a>

                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home_main' %}">
                Assets Bidding
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-home' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-assets' %}"> Add Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-view-assets' %}">View Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view-bids' %}">View Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'purchased-assets' %}">Purchased Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view-users' %}">View Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_logout' %}">Logout</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <br />


    <div class="col-12">
        <div class="row">

           
            <div class="col-md-4 pb-4" style="margin-left: 920px;">
                <form method="post" class="modal-content modal-body border-0 p-0">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input  type="search" name="search" class="form-control"
                            placeholder="Search" />

                        <button type="submit" class="btn btn-success "><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <table class="table">
                    <thead>

                        <tr>
                            <th scope="col"> Id</th>
                            <th>&nbsp;&nbsp; Name</th>
                            <th>&nbsp;&nbsp; Mobile</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email-Id</th>
                            <th> Bid Status</th>
                        </tr>
                    </thead>
                    {% for bids in asset %}
                    <tbody>


                        <tr>

                            <td scope="row"> {{ bids.user.user_id }} </td>
                            <td>{{ bids.user.username }} </td>
                            <td>{{ bids.user.mobile }}</td>
                            <td>{{ bids.user.email }}</td>
                            <th>
                                <b>{{ bids.status }}</b>
                            </th>

                        </tr>


                    </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>





</body>
<br><br><br><br><br><br>
<br><br><br><br><br><br>



<!-- Start Footer -->

<footer>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        Copyright 2022 Assets Bidding.
                        | Designed and Developed by <a rel="sponsored" href="https://codebook.in/"
                            target="_blank">Codebook.in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/templatemo.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- End Script -->

</html>